.uncommon-home-creatively-scientific {
  overflow: hidden;
  padding-left: var(--wp--preset--spacing--outer);
  padding-right: var(--wp--preset--spacing--outer);
}
.uncommon-home-creatively-scientific__images {
  position: relative;
}
.uncommon-home-creatively-scientific__images figure:first-child {
  overflow: hidden;
  width: calc(66.667% - .5rem);
  height: 50svh;

  @media screen and (max-width: 599px) {
    height: 33svh;
  }

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.uncommon-home-creatively-scientific__images figure:last-child {
  overflow: hidden;
  width: calc(33.334% - .5rem);
  height: 50svh;
  position: absolute;
  top: 50px;
  right: 0;

  @media screen and (max-width: 599px) {
    height: 33svh;
  }

  & video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.uncommon-home-creatively-scientific p {
  width: 50%;

  @media screen and (max-width: 599px) {
    width: 100%;
  }
}
.uncommon-home-creatively-scientific__title {
  position: relative;
  z-index: 2;
  @media screen and (max-width: 599px) {
    font-size: 3.2rem;
  }
}